<h1>検索結果</h1>

<%= link_to "TOP", root_path %>

<h2>検索ワード"<%= @word.keyword %>"</h2>

<div class = "results">
    
    <% YAML.load(@word.results).each do |word|%>
    <p><%= word %></p>
    <% end %>
    
</div>

<%= form_for (@word) do |f| %>

<div class="saved_words">
    <%= f.label :saved_words, "保存したい単語を入力してください" %>
    <%= f.text_area :saved_words, :size => "30x30"%>
</div>

<div class="actions">
    <%= f.submit "保存" %>
</div>

<% end %>